<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <title>Budex</title>
</head>
<body>
    <header id="app-header">

        <nav class="navbar navbar-dark bg-info navbar-expand-md">
            <a class="navbar-brand" href="#"> Budex</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainmenu">
                <ul class="navbar-nav">
                    <li  v-if="isSignedIn && userInfo && userInfo.role === 'Admin'" class="nav-item">
                        <a class="nav-link" href="/app/orders">Zamówienia</a>
                    </li>
                    <li class="nav-item dropdown" @mouseover="showCategories=true" @mouseleave="showCategories=false">
                        <a class="nav-link dropdown-toggle" href="/app/products" role="button" aria-expanded="false" id="submenu" aria-haspopup="true">Produkty</a>
                        <div class="dropdown-menu visible-menu" aria-labelledby="submenu" v-if="showCategories">
                            <a class="dropdown-item" v-bind:href="getUrl(cat)" v-for="cat in categories">{{cat.name}}</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/app/contact">Kontakt</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li v-if="isSignedIn" class="nav-item">
                        <a class="nav-link" href="/app/basket">Koszyk</a>
                    </li>
                    <li v-if="!isSignedIn" class="nav-item">
                        <a class="nav-link" href="/app/login">Zaloguj</a>
                    </li>
                    <li v-if="!isSignedIn" class="nav-item">
                        <a class="nav-link" href="/app/register">Zarejestruj</a>
                    </li>
                    <li v-if="isSignedIn" class="nav-item">
                        <a class="nav-link">Witaj {{userInfo.userName}}!</a>
                    </li>
                    <li v-if="isSignedIn" class="nav-item">
                        <a class="nav-link" href="#" v-on:click.prevent="logOut">Wyloguj</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <div class="container" id="app-basket">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <div v-if="getLength() === 0" class="alert alert-warning">Koszyk jest pusty</div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Koszyk</th>
                            <th>Ilość</th>
                            <th class="text-center">Cena</th>
                            <th class="text-center">Razem</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, key) in order.orderItems">
                            <td >
                                <div class="media">
                                    <a class="thumbnail pull-left" v-bind:href="'/app/product/'+item.product.productId"> <img class="media-object" v-bind:src="'/img/'+item.product.image" style="width: 72px; height: 72px;"> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a v-bind:href="'/app/product/'+item.product.productId">{{item.product.name}}</a></h4>
                                        
                                    </div>
                                </div>
                            </td>
                            <td class="quantity-cell">
                                <button v-on:click="decrement(key)" class="btn btn-info quantity-button">-</button>
                                <input class="form-control quantity-input" id="exampleInputEmail1" v-bind:value="item.quantity" type="email">
                                <button v-on:click="increment(key)" class="btn btn-info quantity-button">+</button>
                            </td>
                            <td class="text-center"><strong>{{item.product.price}} zł</strong></td>
                            <td class="text-center"><strong>{{item.product.price * item.quantity}} zł</strong></td>
                            <td >
                                <button type="button" class="btn btn-danger" v-on:click="deleteItem(item.orderItemId)">
                                    <span class="glyphicon glyphicon-remove"></span> Usuń
                                </button>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td>   </td>
                            <td><h3>Razem</h3></td>
                            <td class="text-right"><h3><strong>{{getTotal()}} zł</strong></h3></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="alert alert-info">Po złożeniu zamówienia odbierzesz i opłacisz je w siedzibie Budex.</div>
                             </td>
                            <td>
                                <button v-on:click="placeOrder()" type="button" class="btn btn-success" v-if="getLength() > 0">
                                    Złóż zamówienie
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="/js/vue.global.js"></script>
    <script src="/js/axios.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/basket.js"></script>

</body>
</html>