<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <title>Budex</title>
</head>
<body>
    <header id="app-header">

        <nav class="navbar navbar-dark bg-info navbar-expand-md">
            <a class="navbar-brand" href="#"> Budex</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainmenu">
                <ul class="navbar-nav">
                    <li v-if="isSignedIn && userInfo && userInfo.role === 'Admin'" class="nav-item">
                        <a class="nav-link" href="/app/orders">Zamówienia</a>
                    </li>
                    <li class="nav-item dropdown" @mouseover="showCategories=true" @mouseleave="showCategories=false">
                        <a class="nav-link dropdown-toggle" href="/app/products" role="button" aria-expanded="false" id="submenu" aria-haspopup="true">Produkty</a>
                        <div class="dropdown-menu visible-menu" aria-labelledby="submenu" v-if="showCategories">
                            <a class="dropdown-item" v-bind:href="getUrl(cat)" v-for="cat in categories">{{cat.name}}</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/app/contact">Kontakt</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li v-if="isSignedIn" class="nav-item">
                        <a class="nav-link" href="/app/basket">Koszyk</a>
                    </li>
                    <li v-if="!isSignedIn" class="nav-item">
                        <a class="nav-link" href="/app/login">Zaloguj</a>
                    </li>
                    <li v-if="!isSignedIn" class="nav-item">
                        <a class="nav-link" href="/app/register">Zarejestruj</a>
                    </li>
                    <li v-if="isSignedIn" class="nav-item">
                        <a class="nav-link">Witaj {{userInfo.userName}}!</a>
                    </li>
                    <li v-if="isSignedIn" class="nav-item">
                        <a class="nav-link" href="#" v-on:click.prevent="logOut">Wyloguj</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <main id="app-product">
        <section class="product">
            <div class="container">
                <header>
                    <h1>{{product.name}}</h1>
                   
                </header>
                <div class="row">
                    <div class="col-md-7"  style="width: auto;">

                        <figure>
                            <img class="img-fluid" v-bind:src="'/img/' + product.image" />

                        </figure>

                    </div>
                    <div class="col-md-5">
                        <p class="font-weight-bold">Opis produktu:</p>
                        <p>{{product.description}}</p>
                        <p>Cena: {{product.price}} zł</p>
                        <div v-if="product.stock === 0" class="alert alert-warning">Produkt niedostępny</div>
                        <div v-if="!isSignedIn" class="alert alert-info">Zaloguj się aby dodać do koszyka</div>
                        <div v-if="product.stock > 0 && isSignedIn" style="display:flex">
                            <div class="quantity-cell">
                                <button v-on:click="decrement()" class="quantity-button btn btn-info">-</button>
                                <input class="form-control quantity-input" v-model="quantity" />
                                <button v-on:click="increment()" class="quantity-button btn btn-info">+</button>
                            </div>
                            <button v-on:click="addToBasket()" type="button" class="btn btn-primary">Dodaj do koszyka</button>
                        </div>
                    </div>
                    
                </div>
            </div>

        </section>

    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="/js/vue.global.js"></script>
    <script src="/js/axios.js"></script>
    <script src="/js/product.js"></script>
    <script src="/js/header.js"></script>

</body>
</html>
